<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>lettertwo.workon</string>
	<key>connections</key>
	<dict>
		<key>393E6B8E-68AF-495A-993E-70CF26C1C997</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F233F5A6-4527-488B-8350-07331B7361EF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in SublimeText only</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5239E990-B58D-49AE-95DC-A8BB203CAFF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DAA21BAD-5F05-4B1E-B3E9-601212AFCD6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54436A85-34C6-4DD9-99FD-7B0B5F39B027</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in iTerm only</string>
			</dict>
		</array>
		<key>F233F5A6-4527-488B-8350-07331B7361EF</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Eric Eldredge</string>
	<key>description</key>
	<string>Get to work quickly!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Workon</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>workon</string>
				<key>script</key>
				<string>from workon import list_projects

print(list_projects('{query}'))</string>
				<key>subtext</key>
				<string>type a project name</string>
				<key>title</key>
				<string>Get to work on...</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>393E6B8E-68AF-495A-993E-70CF26C1C997</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from workon import open_project

open_project('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DAA21BAD-5F05-4B1E-B3E9-601212AFCD6B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F233F5A6-4527-488B-8350-07331B7361EF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from workon import open_project

open_project('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54436A85-34C6-4DD9-99FD-7B0B5F39B027</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5239E990-B58D-49AE-95DC-A8BB203CAFF9</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>393E6B8E-68AF-495A-993E-70CF26C1C997</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>5239E990-B58D-49AE-95DC-A8BB203CAFF9</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>54436A85-34C6-4DD9-99FD-7B0B5F39B027</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>DAA21BAD-5F05-4B1E-B3E9-601212AFCD6B</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>F233F5A6-4527-488B-8350-07331B7361EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/lettertwo</string>
</dict>
</plist>
